.profile-type-row{
    margin: 10px 0px 10px 20px;
}
.profile-nav-link{
    display: inline-block;
    text-decoration: none;
}
.profile-type > li{
   
    cursor: pointer;
}
.profile-type > li:hover{
    border-bottom: 2px solid #e4531d;
}
.profile-nav-link > h5{
    margin: 0;
    padding: 15px 10px 13px 10px;
    font-size: 13px;
    font-weight: 500;
    color: #666;
}
.profile_active{
    border-bottom: 2px solid #e4531d;
}
.tabItems{
    display: none;
}