.profile-type-row{
    margin: 10px 0px 10px 20px;
}
.profile-nav-link{
    display: inline-block;
    text-decoration: none;
}
.profile-type > li{
   
    cursor: pointer;
}
.profile-type > li:hover{
    border-bottom: 2px solid #e4531d;
}
.profile-nav-link > h5{
    margin: 0;
    padding: 15px 10px 13px 10px;
    font-size: 13px;
    font-weight: 500;
    color: #666;
}
.profile_active{
    border-bottom: 2px solid #e4531d;
}
.tabItems{
    display: none;
}
.product-label{
  text-transform: uppercase;
  font-size: 8px;
  color:gray;
  font-weight: 800;
}

.btn-bt1{
  background : #e4531d;
  color : #fff;
  border-radius : 10px;
}
.btn-bt1:hover{
  background : #e4531d;
  color : #fff;
}
.btn-bt2{
  background : #1c237e;
  color : #fff;
  border-radius : 10px;
}
.btn-bt2:hover{
  background : #1c237e;
  color : #fff;
}

#eye {
  margin-left: -10px;
  cursor: pointer;
}